.home
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

  & li, & li a
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    width: 100%

.info
  display: flex
  flex-direction: row

  & *
    font-size: 12px
    margin: 0 4px
    display: inline-flex
    align-items: center