.match
  display: flex
  margin: 5px 0
  padding: 0.5em
  border-radius: 2px
  font-size: 18px
  box-shadow: 0 2px 0 #a9a9a9
  background-color: white
  color: #222
  align-items: center
  justify-content: space-between
  position: relative
  top: 0px
  transition: all ease 0.3s

  &:active
    top: 2px
    box-shadow: 0 0

.match_container
  max-width: 30em

.score
  text-transform: capitalize
